<div class="bg first block">
  <div class="row centered">
    <div class="name small-6 large-centered columns"><h1><strong>Irene &nbsp;Nguyen</strong></h1></div>
  </div>
</div>

<div class="bg third"></div>

<div class="row">
  <p></p><br>
  <h2><strong>Web Developer</strong></h2>
  <br>
  
  <div class="small-9 large-centered columns">
    
    <div class="row collapse">
    <div class="small-6 large columns">
      <h3>こんにちは。</h3>
      <p></p>
      <br>
      
      <div class="row collapse">
        <div class="small-1 large columns"></div>
        <div class="small-11 large columns">
          A <strong>Ruby on Rails and Javascript developer </strong><br>
          with a penchant for clean code and design.
          <p></p>
          I also have a deep appreciation for shoes, cool weather, cats, 
          friendly people,
          and <a href="http://instagram.com/cyber_irene" target="_blank">instagram</a>. 
        </div>
      </div>
       
    </div>    
    
    <div class="small-6 large columns">
      <ul class="no-bullet">
        <span class="attributes">
        <li><h3>Eternally curious.</h3></li>
        <li><h3>Brave.</h3></li>
        <li><h3>Pretty sexy</h3></li>
        <li><h3>at problem solving.</h3></li>
        <li><h3>But also in most everything else.</h3></li>
        </span>
      </ul>
    </div>
    </div>
    
  </div>
  <p></p><br><p></p>
</div>


<div class="bg second block">
  <div class="row centered">
    <div class="name small-6 large-centered columns"><h1>i'm here in<br> <strong>san francisco</strong></h1></div>
  </div>
</div>
  
<div class="row">
  <p></p><br>
  <h2><strong>Recent Projects</strong></h2>
  <div class="small-6 large-centered columns">
    <br>
    I build cool things.
    Here are a few:
    <p></p><br>
    <div class="projects">
    <h2><a href="http://pollcat.me">POLL CAT</a><small> Rails, Backbone.js &nbsp;2013</small></h2>
    An interactive polling web app with the word cat in its name.
    <p></p>
    Parses real time data received through SMS. Graphically renders live feedback instantaneously with Websockets. Integrates Twilio API and Pusher API.
    <br>
    <p></p>
    <br>
    <p></p>
    <h2><a href="http://github.com/eneriberri/rails-lite">RAILS STREAMLINED</a><small> Ruby 2013</small></h2>
    Rebuilt the core components of the controller and view layers of Ruby on Rails.
    <br>
    <p></p>
    <br>
    <p></p>
    <h2><a href="http://github.com/eneriberri/ActiveRecord">ACTIVERECORD CORE</a><small> Ruby 2013</small></h2>
    Rebuilt the model layer of Ruby on Rails.
    <p></p>
    Includes query abstraction, associations, database connecting, smart saving
    <br>
    <p></p>
    <br>
    <p></p>
    <h2><a href="http://github.com/eneriberri/Asteroids">ASTEROIDS</a><small> Javascript &nbsp;&nbsp;(2013)</small></h2>
    My take on the classic arcade game.
    <p></p>
    In browser game drawn with Canvas. Ship can accelerate in any direction with the arrow keys. Shoot bullets
    with the spacebar key. Destroy incoming asteroids. Collision = Game Over.
    <br>
    <p></p>
    <br>
    <p></p>
    <h2><a href="http://github.com/eneriberri/MyChatApp">MY CHAT</a><small> Node.js &nbsp;&nbsp;(2013)</small></h2>
    Minimalist chatroom app.
    <p></p>
    Uses Socket.IO client-side library to exchange data with the server. Supports multiple open chat rooms and nickname change functionality for users.
    <br>
    <p></p>
    <br>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-6 large-centered columns"><h2 id="name-japanese">いりいん んぐいえん</h2></div>
</div>
