<div class="bg first block">

  <div class="row centered">
    <div class="name small-6 large-centered columns"><h1>Irene Nguyen</h1></div>
  </div>

  
</div>


<div class="bg second"></div>
<div class="bg third"></div>

<div class="row">
  <div class="small-6 large-centered columns"><h1 id="name">Irene Nguyen</h1></div>
  <h2>いりいん んぐいえん</h2>
  <h2>Web Developer</h2>
  <h2>Recent Projects</h2>
</div>
