<div class="bg first block">
  <div class="row centered">
    <div class="name small-6 large-centered columns"><h1><strong>Irene &nbsp;Nguyen</strong></h1></div>
  </div>
</div>

<div class="bg third"></div>

<div class="row">
  <p></p><br>
  <h2><strong>Web Developer</strong></h2>
  <br>
  
  <div class="small-9 large-centered columns">
    
    <div class="row collapse">
    <div class="small-6 large columns">
      <h3 id="welcome">Welcome.</h3> 
      <!-- Welcome. in different languages -->
      <p></p>
      <br>
      
      <div class="row collapse">
        <div class="small-1 large columns"></div>
        <div class="small-11 large columns">
          A <strong>Ruby on Rails and Javascript developer </strong><br>
          with a penchant for clean code and design.
          <p></p>
          I also have a deep appreciation for shoes, cool weather, cats, 
          friendly people,
          and <a href="http://instagram.com/cyber_irene" target="_blank">instagram</a>. 
        </div>
      </div>
       
    </div>    
    
    <div class="small-6 large columns">
      <ul class="no-bullet">
        <span class="attributes">
        <li><h3>Eternally curious.</h3></li>
        <li><h3>Brave.</h3></li>
        <li><h3>Pretty sexy</h3></li>
        <li><h3>at problem solving.</h3></li>
        <li><h3>But also in most everything else.</h3></li>
        </span>
      </ul>
    </div>
    </div>
    
  </div>
  <p></p><br><p></p>
</div>


<div class="bg second block">
  <div class="row centered">
    <div class="name small-6 large-centered columns"><h1>i'm here in<br> <strong>san francisco</strong></h1></div>
  </div>
</div>
  
<div class="row">
  <p></p><br>
  <h2><strong>Recent Projects</strong></h2>
  <div class="small-9 large-centered columns">
    <br>
    <div id="project-intro">I've built cool things. Here are a few of them:</div>
    <p></p><br>
    <div class="projects">
      
    <div class="row collapse">
      <div class="small-6 large columns">
      <h2><a href="http://pollcat.me">POLL CAT</a><small> Rails, Backbone.js &nbsp;2013</small></h2>
      An interactive live polling web application.
      <p></p>
      Parses real time data received through SMS. Graphically renders live feedback instantaneously with Websockets. Integrates Twilio API and Pusher API.
      </div>
      <div class="small-6 large columns"><h3 id="cats-quote"> <br><p></p>"Time spent with cats <br>is never wasted."</h3></div>
      </div>
    <br>
    <p></p>
    <hr>
    <br>
    <div class="row collapse">
      <div class="small-5 large columns"><h4>すげえ！！ <small>Includes capability to communicate with a web-server, controller functionality, template rendering, sessions storing, parameters (from both query string and response body). Features to add: routing.</small></h4></div>
      <div class="small-7 large columns">
      <h2><a href="http://github.com/eneriberri/rails-lite">RAILS STREAMLINED</a><small> Ruby 2013</small></h2>
      Rebuilt the core components of the controller and view layers of Ruby on Rails.
      </div>
    </div>
    <br>
    <p></p>
    <hr>
    <br>
    <h2><a href="http://github.com/eneriberri/ActiveRecord">ACTIVERECORD CORE</a><small> Ruby 2013</small></h2>
    Rebuilt the model layer of Ruby on Rails.
    <p></p>
    Includes query abstraction, model associations, database connecting, and smart saving.
    <br>
    <p></p>
    <br>
    <hr>
    
    <h2><a href="http://github.com/eneriberri/Asteroids">ASTEROIDS</a><small> Javascript 2013</small></h2>
    My take on the classic arcade game.
    <p></p>
    In browser game drawn with Canvas. Ship can accelerate in any direction with the arrow keys. Shoot bullets
    with the spacebar key. Destroy incoming asteroids. Collision = Game Over.
    <br>
    <p></p>
    <hr>
    <br>
    <h2><a href="http://github.com/eneriberri/MyChatApp">MY CHAT</a><small> Node.js 2013</small></h2>
    Minimalist chatroom app.
    <p></p>
    Uses Socket.IO client-side library to exchange data with the server. Supports multiple open chat rooms and nickname change functionality for users.
    <br>
    <p></p>
    <hr>
    <br>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-3 large-centered columns">
    <h4 id="name-japanese">いりいん んぐいえん</h4>
  </div>
  
</div>
