<div class="bg first block">

  <div class="row centered">
    <div class="name small-6 large-centered columns"><h1>Irene &nbsp;Nguyen</h1></div>
  </div>

  
</div>

<div class="bg third"></div>

<div class="row">
  <p></p><br>
  <h2>Web Developer</h2>
  <br>
  <div class="small-9 large-centered columns">
    <div class="row collapse">
    <div class="small-6 large columns">
      <h3>こんにちは。</h3>
        <br>
      A <strong>Ruby on Rails and Javascript developer </strong><br>
      with a penchant for clean code and design.
      <br>
      I also have a deep appreciation for shoes, cool weather, cat pictures, 
      keeping fit,
      <br>
      and Guild Wars 2).  
    </div>
    <div class="small-6 large columns">
    <ul class="no-bullet">
      <span class="attributes">
      <li><h3>Eternally curious.</h3></li>
      <li><h3>Brave.</h3></li>
      <li><h3>Pretty sexy</h3></li>
      <li><h3>at problem solving.</h3></li>
      <li><h3>But also in most everything else.</h3></li>
      </span>
    </ul>
  </div>
</div>

    
    
  </div>
  <p></p><br><p></p>
</div>

<div class="bg second"></div>
  
<div class="row">
  <h2>Recent Projects</h2>
  <div class="small-6 large-centered columns">
    I build cool things. Here are a few:
    <p></p><br>
    <div class="projects">
    <h2>POLL CAT<small> Rails, Backbone.js</small></h2>
    <br>
    <h2>ASTEROIDS<small> Javascript</small></h2>
    <br>
    <h2>SNAKE<small> Javascript</small></h2>
    <br>
    <h2>RAILS REMIX<small> Ruby</small></h2>
    <br>
    <h2>ACTIVERECORD REMIX<small> Ruby</small></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-6 large-centered columns"><h2 id="name-japanese">いりいん んぐいえん</h2></div>
  <h2>Web Developer</h2>
  <h2>Recent Projects</h2>
</div>

<div class="row">
  <div class="small-6 large-centered columns"><h2 id="name-japanese">いりいん んぐいえん</h2></div>
  <h2>Web Developer</h2>
  <h2>Recent Projects</h2>
</div>

