<div class="bg first block">
  <div class="row centered">
    <div class="name small-6 large-centered columns"><h1><strong>Irene &nbsp;Nguyen</strong></h1></div>
  </div>
</div>

<div class="row">
  <p></p><br>
  <h2><strong>Web Developer</strong></h2>
  <br>
  
  <div class="small-9 large-centered columns">
    
    <div class="row collapse">
    <div class="small-6 large columns">
      <h3 id="welcome">Welcome.</h3> 
      <p></p>
      <br>
      
      <div class="row collapse">
        <br>
        <!-- <div class="small-1 large columns sidepanelfill"></div> -->
        <div class="small-12 large columns">
          A <strong>Ruby on Rails and Javascript developer </strong><br>
          with a penchant for clean code and design.
          <p></p>
          I also have a deep appreciation for shoes, cool weather, cats, 
          friendly people,
          and <a href="http://instagram.com/cyber_irene" target="_blank">instagram</a>. 
        </div>
      </div>
       
    </div>    
    
    <div class="small-6 large columns">
      <ul class="no-bullet">
        <span class="attributes">
        <li><h3>Eternally curious.</h3></li>
        <li><h3>Brave.</h3></li>
        <li><h3>Pretty sexy</h3></li>
        <li><h3>at problem solving.</h3></li>
        <li><h3>But also in most everything else.</h3></li>
        </span>
      </ul>
    </div>
    </div>
    
  </div>
  <p></p><br><p></p>
</div>


<div class="bg second block">
  <div class="row centered">
    <div class="name small-6 large-centered columns"><h1>i'm here in<br> <strong>san francisco</strong></h1></div>
  </div>
</div>
  
<div class="row">
  <p></p><br>
  <h2><strong>Recent Projects</strong></h2>
  <div class="small-9 large-centered columns">
    <br>
    <div id="project-intro">I've built cool things. Here are a few of them:</div>
    <p></p><br>
    <div class="projects">
      
    <div class="row collapse">
      <div class="small-6 large columns">
      <h2><a href="http://pollcat.me">POLL CAT</a><small> Rails, Backbone.js &nbsp;2013</small></h2>
      An interactive live polling web application.
      <p></p>
      Parses real time data received through SMS. Graphically renders live feedback instantaneously with Websockets. Integrates Twilio API and Pusher API.
      </div>
      <div class="small-6 large columns"><h3 id="cats-quote"> <br><p></p>"Time spent with cats <br>is never wasted."</h3></div>
      </div>
    <br>
    <p></p>
    <hr>
    <br>
    <div class="row collapse">
      <div class="small-6 large columns">
      <h2><a href="http://github.com/eneriberri/rails-lite">RAILS STREAMLINED</a><small> Ruby 2013</small></h2>
      Rebuilt the core components of the controller and view layers of Ruby on Rails.
      </div>
      <div class="small-1 large columns"></div>
      <div class="small-5 large columns"><h4>すげえ！！ <small>Includes capability to communicate with a web-server, controller functionality, template rendering, sessions storing, parameters (from both query string and response body). Features to add: routing.</small></h4></div>
    </div>
    <br>
    <p></p>
    <hr>
    <br>
    
    <div class="row collapse">
      <div class="small-6 large columns">
    <h2><a href="http://github.com/eneriberri/ActiveRecord">ACTIVERECORD CORE</a><small> Ruby 2013</small></h2>
    Rebuilt the model layer of Ruby on Rails.
    </div>
      <div class="small-1 large columns"></div>
      <div class="small-5 large columns">
        <h4>本当に? <small>Includes query abstraction, model associations, database connecting, and smart saving.</small></h4>
      
      </div>
    </div>
    <br>
    <p></p>
    <hr>
    <br>
    <div class="row collapse">
      <div class="small-6 large columns">
      <h2><a href="http://github.com/eneriberri/Asteroids">ASTEROIDS</a><small> Javascript 2013</small></h2>
      My take on the classic arcade game.
      <p></p>
      In browser game drawn with Canvas. Ship can accelerate in any direction with the arrow keys. 
      Shoot bullets with the spacebar key. Destroy incoming asteroids. Collision = Game Over.
      </div>
      <div class="small-6 large columns">
        <div class="wrapper">
          <div class="circle"><p></p><br><br><br><h4>小惑星</h4></div>
        </div>
      </div>
    </div>
    <br>
    <p></p>
    <hr>
    <br>
    
    <div class="row collapse">
      <div class="small-6 large columns">
        <h2><a href="http://github.com/eneriberri/MyChatApp">MY CHAT</a><small> Node.js 2013</small></h2>
        Minimalist chatroom app.
      </div>
      <div class="small-1 large columns"></div>
      <div class="small-5 large columns">
        <h4>チャットしよう。<small>Uses Socket.IO client-side library to exchange data with the server. Supports multiple open chat rooms and nickname change functionality for users.</small> </h4> 
      </div>
    </div>
    <br>
    <p></p>
    <br>
    <p></p>
    
    </div>
  </div>
</div>

<div class="bg third block">
  <div class="row centered">
    <div class="name small-6 large-centered columns"><h1><strong>Contact me</strong></h1></div>
  </div>
</div>

<div class="row">
  <p></p>
  <br>
  <div class="small-5 large-centered columns">
    <ul class="contact-info no-bullet">
      <li><h2>github<small> <a href="http://github.com/eneriberri">&rarr; eneriberri</a></small></h2></li>
      <li><h2>linkedin<small> <a href="http://linkedin.com/in/irenenguyen">&rarr; irenenguyen</small></a></h2></li>
      <li><h2>gmail<small> <a href="#">&rarr; imn</a></small></h2></li>
      <li><h2>twitter<small> <a href="http://twitter.com/robo_irene">&rarr; robo_irene</a></small></h2></li>
    </ul>
  </div>
  <p></p>
  <br>
  <p></p>
</div>

<div class="footer">
  <div class="row">
    <p></p>
    Irene Nguyen &copy; 2013
    <br>
    <h5 id="name-japanese">じゃね</h5>
  </div>
</div>
