/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require foundation
 *= require_tree .
 */

h1, h2 {
  text-align: center;
}

.sidepanelfill {
  background-color: #191919;
  height: 100px;
  width: 200px;
}

.name {
  background-color: rgba(0, 0, 0, 0.5);
}

.name h1 {
  color: rgba(255, 255, 255, 1);
  text-transform: lowercase;
  letter-spacing: 1px;
}

.attributes {
  text-transform: uppercase;
}

.first {
  background: url(/assets/tokyobluewide.png) no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: left top;
  height: 300px;
  width: 100%;
}

.second {
  background: url(/assets/GoldenGateBridgeBWcontrast.png) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: cover;
  background-position: left top;
  height: 300px;
  width: 100%;
}

.third {
  background: url(/assets/japantools.png) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: cover;
  background-position: left top;
  height: 300px;
  width: 100%;
}

#project-intro {
  letter-spacing: 4px;
  text-align: center;
}

#cats-quote {
  text-align: center;
}

.contact-info h2 {
  text-align: left;
}

/*vertically aligns divs in parent container*/
.block {
  text-align: center;
}
 
.block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }
 
.centered {
  display: inline-block;
  vertical-align: middle;
 }
 
 
/*asteroids circle*/
.wrapper {
 width: 90px;
 margin: 70px auto;  
 text-align: center;
 position: relative;
}

.circle {
-webkit-backface-visibility: hidden;
 position: absolute;
 top: 0; left: 0;
 display: inline-block;
 border: 13px solid #00ace0;
 border-radius: 100%;
 width: 100px;
 height: 100px;
 opacity: .85;

 transition: all .2s ease-in-out;
}

.circle:hover {
 opacity: .2;
 width: 200px; height: 200px;
 margin-top: -50px;
 margin-left: -50px;
}

/*footer*/

.footer {
  background-color: #2b2b2b;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}

#name-japanese {
  color: #fff;
}
