/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require foundation
 *= require_tree .
 */

h1, h2 {
  text-align: center;
  font-weight: bold;
}

.name {
  background-color: rgba(0, 0, 0, 0.5);
}

.name h1 {
  color: rgba(255, 255, 255, 1);
  text-transform: lowercase;
  letter-spacing: 1px;
}

.attributes {
  text-transform: uppercase;
}

.bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.first {
  background: url(/assets/tokyoblue.png) no-repeat center center fixed; 
  height: 300px;
  background-position: left top;

}

.second {
  background: url(/assets/GoldenGateBridgeBW.png) no-repeat center center fixed; 
  height: 300px;
  background-position: left top;

}

/*vertically aligns div in parent container*/
.block {
  text-align: center;
}
 
.block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }
 
.centered {
  display: inline-block;
  vertical-align: middle;
 }
